* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Common Pixel', monospace;
  background-color: #fff;
}

.header {
  height: 10vh;
  font-size: 2em;
  text-align: center;
  padding-top: 65px;
}

.config {
    position: absolute;
    display: flex;
    flex-direction: column;
    float: left;
    width: 20vh;
    height: 78vh;
    padding: 0 50px;
    border-right: 1px solid #000;
    margin-left: 10vw;
}

button#change-grid {
  height: 40px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  scale: 1.1;
}

.config #grid-visible {
  font-size: 2em;
  cursor: pointer;
}

.config > img {
  width: 40px;
  cursor: pointer;
}

.modes {
  height: 30px;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left: 10px;
}

.grid-wrapper {
    display: grid;
    width: 40vw;
    height: 30vw;
    margin: 0 30vw auto;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    overflow-y: hidden;
}

.grid-wrapper > div{
  background-color: #ffff;
  /* border: .1px solid #b5b5b5;  */
  /* border-radius: 10px; */
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgb(196, 196, 196);
  font-family: monospace;
  font-size: 1.1em;
  width: 290px;
  height: 100px;
  margin: auto 45%;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
  bottom: 50px;
  transform: translateY(200px);
  transition: all .5s ease-in-out;
}

.info > div {
  background-color: #fff;
  color: rgb(196, 196, 196);
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  width: 50px;
  height: 41px;
  margin-right: 10px;
  padding-top: 5px;
  border-radius: 50%;
}

.info > p {
  font-size: 1.2em;
  font-weight: bolder;
}

.success
{
  background-color: green;
  color: #fff;
}

footer{
  position: fixed;
  font-size: 1.1em;
  width: 100vw;
  text-align: center;
  bottom: 20px;
}

